@whiteTransparent: fade(white, 0%);

@highlightColor: white;
@glowColor: hsl((1 - 0.1) * hue(@highlightColor) + 0.1 * hue(yellow), 100%, lightness(lighten(@highlightColor, 10%)));

@textHighlightColor: hsl(220, 100%, 50%);
@textGlowColor: hsl((1 - 0.1) * hue(@textHighlightColor) + 0.1 * hue(yellow), 100%, lightness(lighten(@textHighlightColor, 10%)));

@rightColor: rgb(0, 255, 0);
@rightGlowColor: hsl((1 - 0.1) * hue(@rightColor) + 0.1 * hue(yellow), 100%, lightness(lighten(@rightColor, 10%)));

@wrongColor: red;
@wrongGlowColor: hsl((1 - 0.1) * hue(@wrongColor) + 0.1 * hue(yellow), 100%, lightness(lighten(@wrongColor, 10%)));

html, body {
  overflow: hidden;
}

body {
  background-color: #333;
}

// Metalic style adapted from https://github.com/simurai/lab/blob/gh-pages/metal/
.Radial.Metal {
  overflow: hidden;

  border: 1px solid black;

  box-sizing: border-box;
  box-shadow: inset 0 0 0 4px black,

              inset 0 -2px 5px 4px fade(black, 80%),
              inset 0 -2px 1px 6px fade(black, 25%),
              inset 0 2px 1px 7px white,

              0 -2px 1px 3px fade(black, 15%),
              0 2px 1px 1px fade(white, 15%);

  @backgroundColor: darken(white, 10%);
  @grooveDark: fade(darken(@backgroundColor, 5%), 50%);
  @grooveLight: fade(lighten(@backgroundColor, 5%), 50%);

  background-color: @backgroundColor;
  background-image: radial-gradient(center top, 8% 50%, fade(white, 50%), @whiteTransparent),
                    radial-gradient(center bottom, 12% 50%, fade(white, 60%), @whiteTransparent),
                    radial-gradient(left center, 50% 7%, fade(white, 50%), @whiteTransparent),
                    radial-gradient(right center, 50% 5%, fade(white, 50%), @whiteTransparent),

                    linear-gradient(fade(@backgroundColor, 90%), fade(@backgroundColor, 90%)),
                    
                    repeating-radial-gradient(center, cover, fade(@grooveDark, 0%), fade(@grooveDark, 0%) 5px, @grooveDark 5px, @grooveDark 6px, fade(@grooveDark, 0%) 6px),
                    repeating-radial-gradient(center, cover, fade(@grooveLight, 0%), fade(@grooveLight, 0%) 10px, @grooveLight 12px),
                    repeating-radial-gradient(center, cover, fade(@grooveLight, 0%), fade(@grooveLight, 0%) 2px, @grooveLight 5px),

                    radial-gradient(center, 150% 50%, @backgroundColor 5%, darken(@backgroundColor, 5%) 30%, darken(@backgroundColor, 30%));
}
.Radial.Metal:before, .Radial.Metal:after {
  content: " ";

  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: inherit;

  @darkConeColor: fade(black, 10%);

  background-image: radial-gradient(center top, 10% 50%, @darkConeColor, transparent),
                    radial-gradient(center bottom, 10% 50%, @darkConeColor, transparent),
                    radial-gradient(left center, 50% 10%, @darkConeColor, transparent),
                    radial-gradient(right center, 50% 20%, @darkConeColor, transparent);
}
.Radial.Metal:before {
  transform: rotate(60deg);
}
.Radial.Metal:after {
  transform: rotate(-65deg);
}
.Radial.Metal.Active {
  border-color: @highlightColor;
  box-shadow: inset 0 0 0 4px @highlightColor,

              inset 0 -2px 1px 6px fade(black, 25%),
              inset 0 0 5px 7px @glowColor,
              inset 0 -2px 5px 4px fade(black, 80%),
              inset 0 2px 1px 7px white,

              0 0 10px 2px @glowColor,
              0 -2px 1px 3px fade(black, 15%),
              0 2px 1px 1px fade(white, 15%);
}

.Dial, .Dial:before, .Dial:after {
  transform: translateZ(0);
}

.Dial {
  position: relative;
  border-radius: 50%;

  user-select: none;

  .TickContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

  transition: transform 0.1s linear;
  }

  .Tick {
    position: absolute;
    width: 2em;
    left: 50%;
    top: 12px;
    bottom: 50%;
    margin-left: -1em;

    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-family: "Squada One", sans-serif;

    transform-origin: bottom;
  }

  .Tick.Selected {
    color: @textHighlightColor;
    text-shadow: 0 0 5px @textGlowColor;
  }
}
.Right .Dial {
  border-color: @rightColor;
  box-shadow: inset 0 0 0 4px @rightColor,

              inset 0 -2px 1px 6px fade(black, 25%),
              inset 0 0 5px 7px @rightGlowColor,
              inset 0 -2px 5px 4px fade(black, 80%),
              inset 0 2px 1px 7px white,

              0 0 10px 2px @rightGlowColor,
              0 -2px 1px 3px fade(black, 15%),
              0 2px 1px 1px fade(white, 15%);

  .Tick.Selected {
    color: @rightColor;
    text-shadow: 0 -1px 0 fade(black, 25%),
                 0 1px 0 fade(white, 50%);
  }
}
.Wrong .Dial {
  border-color: @wrongColor;
  box-shadow: inset 0 0 0 4px @wrongColor,

              inset 0 -2px 1px 6px fade(black, 25%),
              inset 0 0 5px 7px @wrongGlowColor,
              inset 0 -2px 5px 4px fade(black, 80%),
              inset 0 2px 1px 7px white,

              0 0 10px 2px @wrongGlowColor,
              0 -2px 1px 3px fade(black, 15%),
              0 2px 1px 1px fade(white, 15%);

  .Tick.Selected {
    color: @wrongColor;
    text-shadow: 0 -1px 0 fade(black, 25%),
                 0 1px 0 fade(white, 50%);
  }
}

.BigDial, .MediumDial, .SmallDial {
  position: absolute;
  top: 50%;
  left: 50%;
}

.MediumDial:after {
  background-color: fade(black, 5%);
}
.BigDial:after {
  background-color: fade(black, 10%);
}

.Radial.Metal.Button, .Wrong .Radial.Metal.Button, .Right .Radial.Metal.Button {
  box-sizing: border-box;
  padding: 10px;

  font-family: "Squada One", sans-serif;
  font-size: 28px;
  line-height: 36px;
  text-align: center;

  border: 1px solid black;
  box-shadow: inset 0 -1px 0 2px black,

              inset 0 -2px 5px 4px fade(black, 80%),
              inset 0 -2px 1px 6px fade(black, 25%),
              inset 0 1px 1px 7px white,

              0 -1px 1px 1px fade(black, 15%),
              0 2px 1px 1px fade(white, 15%);

  color: darken(@textHighlightColor, 5%);
  text-shadow: 0 -1px 0 fade(black, 50%),
               0 0 5px @textGlowColor;
}
.Radial.Metal.Button:active {

    line-height:38px;

    box-shadow: inset 0 0 0 2px black,

                inset 0 1px 5px 6px fade(black, 80%),
                inset 0 1px 1px 5px fade(black, 25%),
                inset 0 -1px 1px 3px white,

                0 -1px 1px 1px fade(black, 15%),
                0 2px 1px 1px fade(white, 15%);

    color: @textHighlightColor;
    text-shadow: 0 -1px 0 fade(black, 50%),
                 0 0 7px @textGlowColor;
}