* {
	padding: 0px;
	margin: 0px;
}

body {
	position: absolute;
	width: 100%;
	height: 100%;
}

.App {
  position: absolute;
  overflow: hidden;

  border: 1px solid black;
}

.Unit {
  position: absolute;
  overflow: hidden;

  width: 64px;
  height: 64px;

  -webkit-transition-property: opacity;
  -webkit-transition-duration: 1.0s;
  -webkit-transition-timing-funciton: linear;

  opacity: 1;
}

.Player {
  bottom: 0px;
  background-color: black;
}

.Enemy {
  -webkit-transition-property: top, left, height, width, opacity;
  -webkit-transition-duration: 1.0s;
  -webkit-transition-timing-funciton: linear;
}

.Group {
  position: absolute;
}

.Fleet {
}

.Bullet {

}

.dead {
  opacity: 0;
}