@z-foreground: 8;
@z-explosion: 7;
@z-unit: 6;
@z-bullet: 5;
@z-balloon: 4;
@z-tooltip: 3;
@z-cloud: 2;
@z-sky: 1;

@z-unit-face: 1;
@z-unit-body: 2;

@day-length: 400s;

* {
	padding: 0px;
	margin: 0px;
}

body {
	position: absolute;
	width: 100%;
	height: 100%;

  font-family: 'Architects Daughter', 'Comic Sans MS', sans-serif;
  color: white;
}

.SetArea {
  position: absolute;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

@overlayHeight: 80px;
@overlayOffset: 10px;

@-webkit-keyframes sky-color {
  0% {
     background-color:skyblue;
  }
  15% {
    background-color: skyblue;
  }
  25% {
    background-color: #440022;
  }
  35% {
    backgorund-color: black;
  }
  65% {
    background-color: black;
  }
  75% {
    background-color: #440022;
  }
  85% {
    background-color: skyblue;
  }
  100% {
    background-color: skyblue;
  }
}

.LevelText {
  .SetArea;

  width: 50%;
  height: 50%;
  top: 25%;
  left: -50%;

  text-align: center;
  font-size: 200%;
  color: white;

  -webkit-transition-property: top, left;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: ease-out;

  transition-property: top, left;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}
.LevelText.in {
  top: 25%;
  left: 25%;
}
.LevelText.out {
  top: -50%;
  left: 25%;
}

.World {
  .SetArea;

  width: 100%;
  top: 0px;

  -webkit-animation: sky-color @day-length infinite linear;

  .Foreground {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;

    background-image: url('/images/ground.png');
    background-repeat: repeat-x;
    z-index: @z-foreground;
  }
}

@-webkit-keyframes day-rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes day-fade {
  0% {
     opacity: 1;
  }
  15% {
     opacity: 1;
  }
  25% {
     opacity: 0;
  }
  75% {
     opacity: 0;
  }
  85% {
     opacity: 1;
  }
  100% {
     opacity: 1;
  }
}
.RotatingSky {
  @sunWidth: 82px;

  .SetArea;
  width: 100%;
  top: 10%;
  height: 180%;

  -webkit-transform-origin: center;
  -webkit-animation: day-rotation @day-length linear infinite;

  .Sun {
    .SetArea;
    background-image: url('/images/day.png');
    width: @sunWidth;
    height: 73px;

    left: 50%;
    margin-left: -41px;
    top: 20px;

  -webkit-animation: day-fade @day-length infinite linear;
  }
}
.CloudContainer {
  .SetArea;

  width: 200%;
  height: 75%;
  left: -100%;

  -webkit-animation: day-fade @day-length infinite linear;

  .Cloud {
    .SetArea;
    background-image: url('/images/day.png');
    z-index: @z-cloud;

    left: -10%;
    -webkit-transition: left linear;
  }

  .Bacon1 {
    .Cloud;
    width: 50px;
    height: 24px;
    background-position: -82px 0;
  }
  .Bacon2 {
    .Cloud;
    width: 43px;
    height: 14px;
    background-position: -82px -24px;
  }
  .Egg1 {
    .Cloud;
    width: 35px;
    height: 18px;
    background-position: -82px -38px;
  }
  .Egg2 {
    .Cloud;
    width: 45px;
    height: 15px;
    background-position: -82px -58px;
  }
}
@-webkit-keyframes twinkle {
  50% { opacity: 0; }
}
.NightContainer {
  .SetArea;

  width: 100%;
  height: 50%;

  -webkit-transform-origin: bottom;
  -webkit-transform: rotate(180deg);
  -webkit-animation: day-fade @day-length @day-length/2 linear infinite;

  .Moon {
    .SetArea;
    left: 50%;
    top: 0;
    margin-left: -20px;

    background-image: url('/images/night.png');
    width: 41px;
    height: 46px;
    background-position: -36px 0;
    z-index: @z-sky;
  }
  .Star {
    .SetArea;
    background-image: url('/images/night.png');
    @z-index: @z-cloud;

    -webkit-animation: twinkle 5s linear infinite;
  }
  .RedStar {
    .Star;
    width: 17px;
    height: 18px;
  }
  .YellowStar {
    .Star;
    width: 17px;
    height: 17px;
    background-position: 0 -18px;
  }
  .YellowDot {
    .Star;
    width: 4px;
    height: 4px;
    background-position: -17px 0;
  }
  .PinkDot {
    .Star;
    width: 5px;
    height: 5px;
    background-position: -23px 0;
  }
  .BlueStar {
    .Star;
    width: 13px;
    height: 20px;
    background-position: -23px -9px;
  }
  .SeptStar {
    .Star;
    width: 19px;
    height: 17px;
    background-position: -17px -29px;
  }
}

.Controls {
  .SetArea;

  bottom: 0px;
  width: 100%;

  background-color: #00a652;
}

@toggleWidth: 100px;
@toggleItemW: 60px;
@toggleHeight: 42px;
.Toggle {
  .SetArea;

  top: 15px;
  left: 20px;
  width: @toggleWidth;
  height: @toggleHeight;

  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
}
.Toggle>div:hover {
  opacity: 1;
}
.ToggleKeyboard {
  .SetArea;

  top: 0px;
  left: 0px;
  width: @toggleItemW;
  height: @toggleHeight;

  background-image: url("/images/keyboard.png");
  background-size: contain;
  background-position: 0px, 0px, center;
  background-repeat: no-repeat;

  opacity: 0.5;
}
.ToggleMouse {
  .SetArea;

  top: 0px;
  right: 0px;
  width: @toggleWidth - @toggleItemW;
  height: @toggleHeight;

  background-image: url("/images/mouse.png");
  background-size: cover;
  background-position: 0px, 0px, center;
  background-repeat: no-repeat;

  opacity: 0.5;
}
.toggled {
  opacity: 1;
}
.InfoOverlay {
  .SetArea;

  top: @overlayOffset;
  height: @overlayHeight;
  width: 100%;

  color: white;
  font-size: 150%;

  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 100;
}
.Score {
  .SetArea;

  top: 10px;
  left: 20px;
  width: 200px;
  height: 70px;
}
.Lives {
  .SetArea;

  top: 10px;
  right: 20px;
  width: 50%;
  height: 70px;
  text-align: right;
  vertical-align: top;

  .Heart {
    height: 34px;
    width: 57px;
    margin: 5px;

    display: inline-block;

    background-image: url('/images/lives.png');
  }
  .Birthday .Heart {
    width: 40px;
    height: 50px;
    background-position: -57px 0;
  }
}

.Unit {
  position: absolute;
  overflow: hidden;

  opacity: 1;
  z-index: @z-unit;

  .Face {
    z-index: @z-unit-face;
  }

  .Body {
    z-index: @z-unit-body;
  }
}

.Face {
  background-size: contain;
  -webkit-filter: contrast(1.1);
}
.Face:after {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;

  background-image: -webkit-radial-gradient(center 30%, 100% 100%, transparent 25%, black); 

  border-radius: inherit;
}

.Player {
  bottom: 0px;

  -webkit-transform-origin: bottom;

  .Face {
    position: absolute;
    top: 28px;
    left: 23px;
    width: 45px;
    height: 45px;
  }

  .Body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

   background-image: url("/images/player.png");
  }

  .WheelContainer {
    position: absolute;
    left: 9px;
    right: 0;
    bottom: 3px;
    height: 15px;

    z-index: @z-unit-body + 1;

    .wheel {
      display: inline-block;
      width: 18px;
      height: 15px;

      -webkit-transform-origin: center;
      -webkit-animation: 0.5s linear infinite;
    }
    .wheel:first-child {
      background-image: url("/images/wheel1.png");
      -webkit-transform-origin: 8px 8px;
    }
    .wheel:nth-child(2) {
      background-image: url("/images/wheel2.png");
      -webkit-transform-origin: 9px 8px;
    }
    .wheel:nth-child(3) {
      background-image: url("/images/wheel3.png");
      -webkit-transform-origin: 10px 9px;
    }
    .wheel:nth-child(4) {
      background-image: url("/images/wheel4.png");
      -webkit-transform-origin: 8px 7px;
      width: 14px;
    }
    .wheel:last-child {
      background-image: url("/images/wheel5.png");
      -webkit-transform-origin: 9px 6px;
      width: 15px;
    }
  }
}

@-webkit-keyframes rotateCCW {
  0% {
    -webkit-transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@-webkit-keyframes rotateCW {
  0% {
    -webkit-transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.Player.Left .wheel {
  -webkit-animation-name: rotateCCW;
}
.Player.Right .wheel {
  -webkit-animation-name: rotateCW;
}

@-webkit-keyframes fire {
  0% {
    -webkit-transform: none;
  }
  60% {
    -webkit-transform: scale(1.1, 0.9);
  }
  85% {
    -webkit-transform: scale(0.9, 1.1);
  }
  100% {
    -webkit-transform: none;
  }
}
.Player.Fire {
  -webkit-animation: fire 0.15s ease-in;
}

.Enemy {
  -webkit-transition-property: top, left, height, width;
  -webkit-transition-duration: 1.0s;
  -webkit-transition-timing-function: linear;

  .Face {
    position: absolute;
    left: 15%;
    top: 46%;
    width: 63%;
    height: 46%;

    border-radius: 50%;
  }

  .Body {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/images/invader.png');
    background-size: contain;
  }
}
.Enemy.Flipped, .Fleet.Flipped .Enemy {
  -webkit-transform: rotateY(180deg);
}
.Fleet.Flipped .Enemy.Flipped {
  -webkit-transform: none;
}
.Fleet.Flipped .Face {
  -webkit-transform: rotateY(180deg);
}

@-webkit-keyframes flippedFire {
  0% {
    -webkit-transform: rotateY(180deg);
  }
  60% {
    -webkit-transform: rotateY(180deg) scale(1.1, 0.9);
  }
  85% {
    -webkit-transform: rotateY(180deg) scale(0.9, 1.1);
  }
  100% {
    -webkit-transform: rotateY(180deg);
  }
}
.Enemy.Flipped.Fire, .Fleet.Flipped .Enemy.Fire {
  -webkit-animation: flippedFire 0.15s ease-in;
}
.Fleet.Flipped .Enemy.Flipped.Fire, .Enemy.Fire {
  -webkit-animation: fire 0.15s ease-in;
}

.Group {
  position: absolute;
}

.Fleet {
}

.Bullet {
  position: absolute;
  overflow: hidden;
  z-index: @z-bullet;
}
.PlayerBullet {
  background-image: url("/images/player_bullet.png");
  width: 15px;
  height: 45px;
}
.EnemyBullet {
  background-image: url("/images/invader_bullet.png");
  width: 15px;
  height: 35px;
}

.dead {
  opacity: 0;
}

@-webkit-keyframes explosion {
  0% {
    background-position: 0 top;
  }
  25% {
    background-position: 0 top;
  }
  50% {
    background-position: -143px top;
  }
  75% {
    background-position: -286px top;
  }
  100% {
    background-position: -429px top;
  }
}

.Explosion {
  background-image: url('/images/explosion.png');
  -webkit-animation: explosion 0.5s step-start infinite;

  position: absolute;
  z-index: @z-explosion;
  width: 143px;
  height: 150px;

  margin-left: -71px;
  margin-top: -75px;
}

@-webkit-keyframes balloon {
  0% {
    -webkit-transform: translateY(0);
    border-bottom-width: 295px;
  }
  25% {
    -webkit-transform: translateY(20px);
    border-bottom-width: 280px;
  }
  50% {
    -webkit-transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(20px);
    border-bottom-width: 311px;
  }
  100% {
    -webkit-transform: translateY(0);
    border-bottom-width: 295px;
  }
}

.BalloonButton {
  box-sizing: content-box;
  -webkit-border-image: url('/images/balloon.png') 0 0 311 0 stretch;
  border-width: 0 0 311px 0;

  width: 160px;
  height: 183px;
  padding: 50px 20px 0 20px;

  position: absolute;
  z-index: @z-balloon;

  text-align: center;
  font-size: 24px;

  -webkit-transform-origin: top;
  -webkit-animation: balloon 6s infinite alternate linear;
}

.Tooltip {
  position: absolute;

  background-image: url('/images/arrow.png');
  background-position: bottom left;
  background-repeat: no-repeat;

  min-height: 44px;
  max-width: 300px;
  padding-left: 55px;
  padding-bottom: 10px;
  margin-bottom: 10px;

  font-size: 18px;

  z-index: @z-tooltip;
}
