* {
	padding: 0px;
	margin: 0px;
}

body {
	position: absolute;
	width: 100%;
	height: 100%;
}

.App {
  position: absolute;
  overflow: hidden;

  border: 1px solid black;
  background-color: black;
}

.Unit {
  position: absolute;
  overflow: hidden;

  width: 64px;
  height: 64px;

  -webkit-transition-property: opacity;
  -webkit-transition-duration: 1.0s;
  -webkit-transition-timing-funciton: linear;

  opacity: 1;
}

.Player {
  bottom: 0px;

  -webkit-transform-origin: bottom;

  .Face {
    position: absolute;
    top: 28px;
    left: 23px;
    width: 45px;
    height: 45px;

    z-index: 1;
  }

  .Body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;

   background-image: url("/images/player.png");
  }

  .WheelContainer {
    position: absolute;
    left: 9px;
    right: 0;
    bottom: 3px;
    height: 15px;

    z-index: 3;

    .wheel {
      display: inline-block;
      width: 18px;
      height: 15px;

      -webkit-transform-origin: center;
      -webkit-animation: 0.5s linear infinite;
    }
    .wheel:first-child {
      background-image: url("/images/wheel1.png");
    }
    .wheel:nth-child(2) {
      background-image: url("/images/wheel2.png");
    }
    .wheel:nth-child(3) {
      background-image: url("/images/wheel3.png");
    }
    .wheel:nth-child(4) {
      background-image: url("/images/wheel4.png");
      width: 14px;
    }
    .wheel:last-child {
      background-image: url("/images/wheel5.png");
      width: 15px;
    }
  }
}

@-webkit-keyframes rotateCCW {
  0% {
    -webkit-transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@-webkit-keyframes rotateCW {
  0% {
    -webkit-transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.Player.Left .wheel {
  -webkit-animation-name: rotateCCW;
}
.Player.Right .wheel {
  -webkit-animation-name: rotateCW;
}

@-webkit-keyframes fire {
  0% {
    -webkit-transform: none;
  }
  60% {
    -webkit-transform: scale(1.1, 0.9);
  }
  85% {
    -webkit-transform: scale(0.9, 1.1);
  }
  100% {
    -webkit-transform: none;
  }
}
.Player.Fire {
  -webkit-animation: fire 0.15s ease-in;
}

.Enemy {
  -webkit-transition-property: top, left, height, width, opacity;
  -webkit-transition-duration: 1.0s;
  -webkit-transition-timing-funciton: linear;

  .Face {
    position: absolute;
    left: 15%;
    top: 46%;
    width: 63%;
    height: 46%;

    border-radius: 50%;
  }

  .Body {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/images/invader.png');
    background-size: contain;

    z-index: 2;
  }
}
.Enemy.Flipped, .Fleet.Flipped .Enemy {
  -webkit-transform: rotateY(180deg);
}
.Fleet.Flipped .Enemy.Flipped {
  -webkit-transform: none;
}

@-webkit-keyframes flippedFire {
  0% {
    -webkit-transform: rotateY(180deg);
  }
  60% {
    -webkit-transform: rotateY(180deg) scale(1.1, 0.9);
  }
  85% {
    -webkit-transform: rotateY(180deg) scale(0.9, 1.1);
  }
  100% {
    -webkit-transform: rotateY(180deg);
  }
}
.Enemy.Flipped.Fire, .Fleet.Flipped .Enemy.Fire {
  -webkit-animation: flippedFire 0.15s ease-in;
}
.Fleet.Flipped .Enemy.Flipped.Fire, .Enemy.Fire {
  -webkit-animation: fire 0.15s ease-in;
}

.Group {
  position: absolute;
}

.Fleet {
  border: 1px dotted gray;
}

.Bullet {

}

.dead {
  opacity: 0;
}
